In [6]:
import pandas as pd
csv_file = pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv")
csv_file

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0027419    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [11]:
csv2=pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv",nrows=5)
csv2

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [14]:
csv3=pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv",usecols=[1,4])
csv3

           image_id   age
0      ISIC_0027419  80.0
1      ISIC_0025030  80.0
2      ISIC_0026769  80.0
3      ISIC_0025661  80.0
4      ISIC_0031633  75.0
...             ...   ...
10010  ISIC_0033084  40.0
10011  ISIC_0033550  40.0
10012  ISIC_0033536  40.0
10013  ISIC_0032854  80.0
10014  ISIC_0032258  70.0

[10015 rows x 2 columns]

In [15]:
csv4=pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv",skiprows=[5,4])
csv4

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0027419    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0001466  ISIC_0027850    bkl   histo  75.0    male          ear
4      HAM_0002761  ISIC_0029176    bkl   histo  60.0    male         face
...            ...           ...    ...     ...   ...     ...          ...
10008  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10009  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10010  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10011  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10012  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10013 rows x 7 columns]

In [16]:
csv4=pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv",header=None)
csv4

                 0             1      2        3     4       5             6
0        lesion_id      image_id     dx  dx_type   age     sex  localization
1      HAM_0000118  ISIC_0027419    bkl    histo  80.0    male         scalp
2      HAM_0000118  ISIC_0025030    bkl    histo  80.0    male         scalp
3      HAM_0002730  ISIC_0026769    bkl    histo  80.0    male         scalp
4      HAM_0002730  ISIC_0025661    bkl    histo  80.0    male         scalp
...            ...           ...    ...      ...   ...     ...           ...
10011  HAM_0002867  ISIC_0033084  akiec    histo  40.0    male       abdomen
10012  HAM_0002867  ISIC_0033550  akiec    histo  40.0    male       abdomen
10013  HAM_0002867  ISIC_0033536  akiec    histo  40.0    male       abdomen
10014  HAM_0000239  ISIC_0032854  akiec    histo  80.0    male          face
10015  HAM_0003521  ISIC_0032258    mel    histo  70.0  female          back

[10016 rows x 7 columns]

In [25]:
csv4=pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv")
csv4

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0027419    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [ ]:
# PANDAS FUNCTION

In [23]:
csv4.index

RangeIndex(start=0, stop=10016, step=1)

In [26]:
csv4.columns

Index(['lesion_id', 'image_id', 'dx', 'dx_type', 'age', 'sex', 'localization'], dtype='object')

In [28]:
csv4.describe()

               age
count  9958.000000
mean     51.863828
std      16.968614
min       0.000000
25%      40.000000
50%      50.000000
75%      65.000000
max      85.000000

In [29]:
df = pd.DataFrame(csv4)
df

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0027419    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [31]:
reasult = df[df["age"]<40]
reasult

,lesion_id,image_id,dx,dx_type,age,sex,localization
86,HAM_0002092,ISIC_0031624,bkl,histo,35.0,female,lower extremity
87,HAM_0002092,ISIC_0025510,bkl,histo,35.0,female,lower extremity
117,HAM_0007179,ISIC_0025906,bkl,histo,0.0,female,back
118,HAM_0007179,ISIC_0027151,bkl,histo,0.0,female,back
216,HAM_0003265,ISIC_0025180,bkl,histo,35.0,female,chest
...,...,...,...,...,...,...,...
9681,HAM_0003965,ISIC_0028380,nv,consensus,15.0,female,back
9682,HAM_0006283,ISIC_0027924,nv,consensus,20.0,male,chest
9683,HAM_0000102,ISIC_0031547,nv,consensus,20.0,male,back
9684,HAM_0000102,ISIC_0032221,nv,consensus,20.0,male,back
9980,HAM_0003910,ISIC_0026194,akiec,histo,30.0,male,face

In [32]:
csv4.head(7)

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear
5  HAM_0001466  ISIC_0027850  bkl   histo  75.0  male          ear
6  HAM_0002761  ISIC_0029176  bkl   histo  60.0  male         face

In [33]:
csv4.tail(4)

         lesion_id      image_id     dx dx_type   age     sex localization
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

In [34]:
csv4[10:15:1]

      lesion_id      image_id   dx dx_type   age     sex localization
10  HAM_0001396  ISIC_0025276  bkl   histo  55.0  female        trunk
11  HAM_0004234  ISIC_0029396  bkl   histo  85.0  female        chest
12  HAM_0004234  ISIC_0025984  bkl   histo  85.0  female        chest
13  HAM_0001949  ISIC_0025767  bkl   histo  70.0    male        trunk
14  HAM_0001949  ISIC_0032417  bkl   histo  70.0    male        trunk

In [35]:
csv4.sort_index(axis=0,ascending=False)

         lesion_id      image_id     dx dx_type   age     sex localization
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
...            ...           ...    ...     ...   ...     ...          ...
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
0      HAM_0000118  ISIC_0027419    bkl   histo  80.0    male        scalp

[10015 rows x 7 columns]