In [1]:
import pandas as pd
csv_file =pd.read_csv(r"E:\basic python\HAM10000_metadata.csv")
csv_file

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [2]:
csv_file.dropna(thresh=1)

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [3]:
csv_file.dropna(subset=["localization"])

         lesion_id      image_id     dx dx_type   age     sex localization
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
5      HAM_0001466  ISIC_0027850    bkl   histo  75.0     NaN          ear
6      HAM_0002761  ISIC_0029176    bkl     NaN  60.0    male         face
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10010 rows x 7 columns]

In [4]:
csv_file.fillna({"age":0.,'sex':"male"})

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   0.0    male          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [6]:
csv_file.fillna(method="bfill")

C:\Users\Pratik Giri\AppData\Local\Temp\ipykernel_22288\210809585.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_file.fillna(method="bfill")

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [7]:
csv_file.replace(to_replace=80,value=21)

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  21.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  21.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  21.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  21.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [8]:
 csv_file.replace(to_replace="bkl",value="pratik")

         lesion_id      image_id      dx dx_type   age     sex localization
0      HAM_0000118           NaN     NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030  pratik   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769  pratik   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661  pratik     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633  pratik   histo  75.0    male          NaN
...            ...           ...     ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084   akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550   akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536   akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854   akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258     mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [12]:
 csv_1=pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv")
 csv_1

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [ ]:
# INTERPOLATE

In [15]:
csv_1.interpolate(limit=2)

C:\Users\Pratik Giri\AppData\Local\Temp\ipykernel_22288\4135698201.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_1.interpolate(limit=2)

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [24]:
csv_1.interpolate(implce=True)

C:\Users\Pratik Giri\AppData\Local\Temp\ipykernel_22288\1494102089.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_1.interpolate(implce=True)

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [25]:
csv_1

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [ ]:
# MERGE 2 DATAREAME

In [26]:
var1 = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':[9,10,11,12]})
var2 = pd.DataFrame({'A':[1,2,3,4],'D':[20,30,40,50]})
pd.merge(var1,var2)

   A  B   C   D
0  1  5   9  20
1  2  6  10  30
2  3  7  11  40
3  4  8  12  50

In [34]:
var1 = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':[9,10,11,12]})
var2 = pd.DataFrame({'A':[1,2,3,5],'D':[20,30,40,50]})
df=pd.merge(var2,var1,how='left')
df

   A   D    B     C
0  1  20  5.0   9.0
1  2  30  6.0  10.0
2  3  40  7.0  11.0
3  5  50  NaN   NaN

In [36]:
var1 = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':[9,10,11,12]})
var2 = pd.DataFrame({'A':[1,2,3,5],'D':[20,30,40,50]})
df=pd.merge(var2,var1,how='right')
df

   A     D  B   C
0  1  20.0  5   9
1  2  30.0  6  10
2  3  40.0  7  11
3  4   NaN  8  12