In [1]:
import pandas as pd
csv_file =pd.read_csv(r"E:\basic python\HAM10000_metadata.csv")
csv_file

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [2]:
csv_file.dropna(thresh=1)

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [3]:
csv_file.dropna(subset=["localization"])

         lesion_id      image_id     dx dx_type   age     sex localization
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
5      HAM_0001466  ISIC_0027850    bkl   histo  75.0     NaN          ear
6      HAM_0002761  ISIC_0029176    bkl     NaN  60.0    male         face
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10010 rows x 7 columns]

In [4]:
csv_file.fillna({"age":0.,'sex':"male"})

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   0.0    male          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [5]:
csv_file.fillna(method="bfill")

C:\Users\Pratik Giri\AppData\Local\Temp\ipykernel_2448\210809585.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv_file.fillna(method="bfill")

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [6]:
csv_file.replace(to_replace=80,value=21)

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  21.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  21.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  21.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  21.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [7]:
 csv_file.replace(to_replace="bkl",value="pratik")

         lesion_id      image_id      dx dx_type   age     sex localization
0      HAM_0000118           NaN     NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030  pratik   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769  pratik   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661  pratik     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633  pratik   histo  75.0    male          NaN
...            ...           ...     ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084   akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550   akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536   akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854   akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258     mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [8]:
 csv_1=pd.read_csv(r"C:\Users\Pratik Giri\OneDrive\Desktop\HAM10000_metadata.csv")
 csv_1

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [9]:
# INTERPOLATE

In [10]:
csv_1.interpolate(limit=2)

C:\Users\Pratik Giri\AppData\Local\Temp\ipykernel_2448\4135698201.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_1.interpolate(limit=2)

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [11]:
csv_1.interpolate(implce=True)

C:\Users\Pratik Giri\AppData\Local\Temp\ipykernel_2448\1494102089.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  csv_1.interpolate(implce=True)

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [12]:
csv_1

         lesion_id      image_id     dx dx_type   age     sex localization
0              NaN           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3              NaN  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl     NaN  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [13]:
# MERGE 2 DATAREAME

In [14]:
var1 = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':[9,10,11,12]})
var2 = pd.DataFrame({'A':[1,2,3,4],'D':[20,30,40,50]})
pd.merge(var1,var2)

   A  B   C   D
0  1  5   9  20
1  2  6  10  30
2  3  7  11  40
3  4  8  12  50

In [15]:
var1 = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':[9,10,11,12]})
var2 = pd.DataFrame({'A':[1,2,3,5],'D':[20,30,40,50]})
df=pd.merge(var2,var1,how='left')
df

   A   D    B     C
0  1  20  5.0   9.0
1  2  30  6.0  10.0
2  3  40  7.0  11.0
3  5  50  NaN   NaN

In [16]:
var1 = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':[9,10,11,12]})
var2 = pd.DataFrame({'A':[1,2,3,5],'D':[20,30,40,50]})
df=pd.merge(var2,var1,how='right')
df

   A     D  B   C
0  1  20.0  5   9
1  2  30.0  6  10
2  3  40.0  7  11
3  4   NaN  8  12

In [17]:
# information about the dataset


csv_file =pd.read_csv(r"E:\basic python\HAM10000_metadata.csv")
csv_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lesion_id     10012 non-null  object
 1   image_id      10013 non-null  object
 2   dx            10011 non-null  object
 3   dx_type       10008 non-null  object
 4   age           9951 non-null   float64
 5   sex           10012 non-null  object
 6   localization  10010 non-null  object
dtypes: float64(1), object(6)
memory usage: 547.8+ KB

In [18]:
# Describe  statistics the data set


data={
 'Name':['prtaik','ram','rohit','mohit','pritam','ranit','akash'],
 'age':[21,30,22,50,12,25,29],
 'salary':[1045,2000,3000,4089,1235,7894,5601,],
 'performance level':[36,26,37,40,12,45,89]
}

df = pd.DataFrame(data)
print("sample data frame")
print(df)

print()
print("Discriptive Statistics")
print(df.describe())

sample data frame
     Name  age  salary  performance level
0  prtaik   20    1000                 10
1     ram   30    2000                 20
2   rohit   40    3000                 30
3   mohit   50    4000                 40

Discriptive Statistics
             age       salary  performance level
count   4.000000     4.000000           4.000000
mean   35.000000  2500.000000          25.000000
std    12.909944  1290.994449          12.909944
min    20.000000  1000.000000          10.000000
25%    27.500000  1750.000000          17.500000
50%    35.000000  2500.000000          25.000000
75%    42.500000  3250.000000          32.500000
max    50.000000  4000.000000          40.000000

In [23]:
# HANDELLINH MISSING DATA
csv_file =pd.read_csv(r"E:\basic python\HAM10000_metadata.csv")
csv_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lesion_id     10012 non-null  object
 1   image_id      10013 non-null  object
 2   dx            10011 non-null  object
 3   dx_type       10008 non-null  object
 4   age           9951 non-null   float64
 5   sex           10012 non-null  object
 6   localization  10010 non-null  object
dtypes: float64(1), object(6)
memory usage: 547.8+ KB

In [28]:
# delete duplicates from a specific column

result=csv_file['age'].drop_duplicates()
print(result)
print()
csv_file

0        NaN
1       80.0
4       75.0
6       60.0
8       70.0
10      55.0
15      65.0
26      40.0
35      85.0
43      50.0
53      45.0
86      35.0
117      0.0
479     30.0
1035     5.0
1165    25.0
1800    20.0
2326    10.0
2332    15.0
Name: age, dtype: float64

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118           NaN    NaN     NaN   NaN     NaN          NaN
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl     NaN  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          NaN
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [30]:
x=csv_file['age'].mean()
print("mean value if the dataset : ",x)

mean value if the dataset :  51.84956285800422

In [35]:
# NULL VALUES REPLACE BY THAT COLUMN Mean or median or mode value 

csv_file['age']=csv_file['age'].fillna(x)
csv_file

,lesion_id,image_id,dx,dx_type,age,sex,localization
0,HAM_0000118,NaN,NaN,NaN,51.849563,NaN,NaN
1,HAM_0000118,ISIC_0025030,bkl,histo,80.000000,male,scalp
2,HAM_0002730,ISIC_0026769,bkl,histo,80.000000,male,scalp
3,HAM_0002730,ISIC_0025661,bkl,NaN,80.000000,male,scalp
4,HAM_0001466,ISIC_0031633,bkl,histo,75.000000,male,NaN
...,...,...,...,...,...,...,...
10010,HAM_0002867,ISIC_0033084,akiec,histo,40.000000,male,abdomen
10011,HAM_0002867,ISIC_0033550,akiec,histo,40.000000,male,abdomen
10012,HAM_0002867,ISIC_0033536,akiec,histo,40.000000,male,abdomen
10013,HAM_0000239,ISIC_0032854,akiec,histo,80.000000,male,face
10014,HAM_0003521,ISIC_0032258,mel,histo,70.000000,female,back

In [ ]:
# FIXING WRONG DATA--------LET consider 'age ' should below 75 years