# Reading, writing CSV and Excel file <br>

In [3]:
import pandas as pd

In [4]:
#Reading CSV file
d=pd.read_csv('datasets/weather.csv')
d.head(3)

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/weather.csv'

In [ ]:
#Reading excel file
df=pd.read_excel('datasets/titanic.xls')
df.head(3)

### If you want to read only few rows rather than all

In [ ]:
df=pd.read_csv('datasets/weather.csv',nrows=7)
df

### Changing specific values with NaN while reading
 * While reading the dataset you can change the specific value with NaN
   > df = pd.read_excel ( " titanic.xls " , na_values = [ list of element which you want to change to NaN ] )

In [ ]:
df = pd.read_excel("datasets/titanic.xls",na_values=[None]) 
df.head()

### Changing specific values with NaN columns wise while reading

In [ ]:
df=pd.read_excel('datasets/titanic.xls')
df.head()

In [ ]:
df=pd.read_excel('datasets/titanic.xls',na_values={'body':[None],'boat':[None],'parch':[2,0]})

 * <b>na_values </b>argument is used to replace all the values passes in the list with NaN.You can also replace some invalid values column wise as you can in the above code. If you run the above code you will a dataframe where 'None' in body column is replaced by NaN,again None in the boat column is replaced by NaN and 2 & 0 in parch column are replaced by NaN.

### Writing into CSV or excel 
 * You can convert any dataframe in a new CSV or excel file file

In [5]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

### Creating a new file

#### Creating a new csv file mycsv.csv

Suppose you have read a csv or excel file as dataframe object and you did some modification.Now you want to write a new csv or excel file that contains the modified dataframe. In that case you will need to_csv() or to_excel() function to create a new file.See the example below -

In [6]:
df.to_csv('datasets/mycsv.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'datasets'

#### Creating a new excel file myexcel.xls

In [ ]:
df.to_excel('datasets/myexcel.xls',index=False)

### Writing into csv or excel only selected rows
<br>
Suppose you modified the dataframe and you want to write it in another csv file with only selected columns.In the following example we have created the new csv file mycsv_few_columns.csv by "df" dataframe allowing only three columns which we want i.e, day, temp, wind-speed and i have ignored the date column.

#### how many columns in dataframe df ?

In [ ]:
df.columns

In [7]:
#Writing only three columns day,temp,wind-speed
df.to_csv('datasets/mycsv_few_columns.csv',columns=['day','temp','wind-speed'],index=False)

#Again reading to see the result
d=pd.read_csv('datasets/mycsv_few_columns.csv')
d

OSError: Cannot save file into a non-existent directory: 'datasets'

### Converters :

In various cases you dont have clean dataset. Invalid values in the dataset leads to a lot of problem while predicting or extracting the meaningful information.To avoid this problem we use converters.
* Converters are basically functions which convert the specific value of a column in your desire value
* Converter function passed into the disctionary like in the na_values.

This is our dataset in which you can see that there are lots of invalid values are present.These values are noise in our dataset.

In [ ]:
import pandas as pd
import  numpy as np

In [8]:
df=pd.read_csv(r'E:\basic python\season.csv')
df

       dates    day  temp     wind-speed
0   2/1/2012  sunny  45.0             12
1   3/1/2012  rainy  46.0             34
2   4/1/2012    hot  47.0             45
3   5/1/2012    NaN   NaN             56
4   6/1/2012    hot  49.0  Not available
5   7/1/2012    NaN   NaN  Not available
6   8/1/2012    hot  12.0             45
7   9/1/2012  rainy  23.0             41
8  10/1/2012    NaN   NaN            NaN
9  11/1/2012    NaN   NaN            NaN

In [9]:
xx=np.mean(df['temp'])

NameError: name 'np' is not defined

In [10]:
df["temp"].fillna(np.mean(df['temp']))

NameError: name 'np' is not defined

In [11]:
df.drop("temp",axis=1)

       dates    day     wind-speed
0   2/1/2012  sunny             12
1   3/1/2012  rainy             34
2   4/1/2012    hot             45
3   5/1/2012    NaN             56
4   6/1/2012    hot  Not available
5   7/1/2012    NaN  Not available
6   8/1/2012    hot             45
7   9/1/2012  rainy             41
8  10/1/2012    NaN            NaN
9  11/1/2012    NaN            NaN

In [12]:
pd.concat(df,v1)

NameError: name 'v1' is not defined

In [13]:
df

       dates    day  temp     wind-speed
0   2/1/2012  sunny  45.0             12
1   3/1/2012  rainy  46.0             34
2   4/1/2012    hot  47.0             45
3   5/1/2012    NaN   NaN             56
4   6/1/2012    hot  49.0  Not available
5   7/1/2012    NaN   NaN  Not available
6   8/1/2012    hot  12.0             45
7   9/1/2012  rainy  23.0             41
8  10/1/2012    NaN   NaN            NaN
9  11/1/2012    NaN   NaN            NaN

#### The following function will convert any cell of column having 'NaN' into 40, so here we will apply this function into 'temp' column and so for the 'day' and 'wind-speed' columns.

In [14]:
def converter_for_temp(col):
    if col=='NaN':
        return 40
    else:
        return col
def converter_for_day(col):
    if col=='NaN':
        return 'sunny'
    else:
        return col
def converter_for_wind_speed(col):
    if col=='Not available':
        return 30
    elif col=="NaN":
        return 48
    else:
        return col

In [15]:
df=pd.read_csv('datasets/season.csv',converters={
    'day':converter_for_day,
    'temp':converter_for_temp,
    'wind-speed':converter_for_wind_speed
   })
df

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/season.csv'

You can observe that previously the columns 'day', 'temp' and 'wind-speed' had some invalid data like 'NaN','NAN','Not available' but after applying the converter functions we got a cleaned dataset.Now we can apply some data analysis techniquw to predict something in our dataset.

### Writing different dataframes into one file but different sheet names

Let's assume that you have two different dataframes and you want to write it in the same excel sheet but different sheet names. 
<br>

Let's take two disctionary one is "weather1" and another is "house1" and make it two dataframe "weather" & "house"

In [16]:
#Creating weather disctionary
weather1={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
weather=pd.DataFrame(weather1)

#Creating house disctionary
house1={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'price':[20000,30000,40000,50000,60000],
         'bhk':[1,3,2,1,2],
         'how-old':[2,5,2,7,4]
       }

#converting house disctionary to dataframe object

house=pd.DataFrame(house1)

 Call the "ExcelWriter" and make a object "writer".Now call to_excel() function and pass three argument -
  * <b>1. "writer" object :</b>
  * <b>2. sheet_name : </b>
  * <b>3. Index :</b> This is optional for you

In [17]:
with pd.ExcelWriter('datasets/weather_and_house.xls') as writer:
   weather.to_excel(writer,sheet_name='Weather',index=False)
   house.to_excel(writer,sheet_name='House',index=False)

ValueError: No engine for filetype: 'xls'

#### Now access the sheets separately by passing its name while reading
See the example

In [ ]:
d1=pd.read_excel('datasets/weather_and_house.xls','Weather')
d1

In [18]:
d2=pd.read_excel('datasets/weather_and_house.xls','House')
d2

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/weather_and_house.xls'

In [19]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [21]:
df.head(2)

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46

In [22]:
df.tail(2)

      dates    day  wind-speed  temp
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [23]:
df.iloc[0:,0]

0    02-01-12
1    03-01-12
2    04-01-12
3    05-01-12
4    06-01-12
Name: dates, dtype: object

In [24]:
df["day"]

0    sunny
1    rainy
2      hot
3    sunny
4      hot
Name: day, dtype: object

In [25]:
df.drop("day" ,axis=1)

      dates  wind-speed  temp
0  02-01-12          12    45
1  03-01-12          34    46
2  04-01-12          45    47
3  05-01-12          56    48
4  06-01-12          67    49

In [26]:
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dates       5 non-null      object
 1   day         5 non-null      object
 2   wind-speed  5 non-null      int64
 3   temp        5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [28]:
df.describe()

       wind-speed       temp
count    5.000000   5.000000
mean    42.800000  47.000000
std     21.158922   1.581139
min     12.000000  45.000000
25%     34.000000  46.000000
50%     45.000000  47.000000
75%     56.000000  48.000000
max     67.000000  49.000000

In [29]:
df['wind-speed']

0    12
1    34
2    45
3    56
4    67
Name: wind-speed, dtype: int64

In [30]:
df['wind-speed']=df['wind-speed']+20

In [31]:
df['wind-speed']

0    32
1    54
2    65
3    76
4    87
Name: wind-speed, dtype: int64

In [32]:
df['wind-speed'].unique()

array([32, 54, 65, 76, 87])

In [33]:
df['day'].value_counts()

day
sunny    2
hot      2
rainy    1
Name: count, dtype: int64

In [34]:
# create a new column
df["humidity"]=df['temp']+30

In [35]:
df

      dates    day  wind-speed  temp  humidity
0  02-01-12  sunny          32    45        75
1  03-01-12  rainy          54    46        76
2  04-01-12    hot          65    47        77
3  05-01-12  sunny          76    48        78
4  06-01-12    hot          87    49        79

In [36]:
df.isnull().sum()

dates         0
day           0
wind-speed    0
temp          0
humidity      0
dtype: int64

In [37]:
a=df[df['day'].duplicated()]
a

      dates    day  wind-speed  temp  humidity
3  05-01-12  sunny          76    48        78
4  06-01-12    hot          87    49        79

In [38]:
df[["day",'month','year']]=df['dates'].str.split('-',expand=True)
b=df[['day', 'month', 'year']]

In [39]:
import numpy as np
df

      dates day  wind-speed  temp  humidity month year
0  02-01-12  02          32    45        75    01   12
1  03-01-12  03          54    46        76    01   12
2  04-01-12  04          65    47        77    01   12
3  05-01-12  05          76    48        78    01   12
4  06-01-12  06          87    49        79    01   12

In [40]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

      dates    day  wind-speed  temp
0  02-01-12  sunny          12    45
1  03-01-12  rainy          34    46
2  04-01-12    hot          45    47
3  05-01-12  sunny          56    48
4  06-01-12    hot          67    49

In [41]:
b=df['dates'].str.split('-',expand=True)

In [42]:
b

    0   1   2
0  02  01  12
1  03  01  12
2  04  01  12
3  05  01  12
4  06  01  12

In [43]:
df["day-no"]=b[0]
df['month']=b[1]
df['year']=b[2]

In [44]:
df

      dates    day  wind-speed  temp day-no month year
0  02-01-12  sunny          12    45     02    01   12
1  03-01-12  rainy          34    46     03    01   12
2  04-01-12    hot          45    47     04    01   12
3  05-01-12  sunny          56    48     05    01   12
4  06-01-12    hot          67    49     06    01   12

In [45]:
p=df['day'].duplicated()
p

0    False
1    False
2    False
3     True
4     True
Name: day, dtype: bool

In [46]:
df.drop_duplicates()

      dates    day  wind-speed  temp day-no month year
0  02-01-12  sunny          12    45     02    01   12
1  03-01-12  rainy          34    46     03    01   12
2  04-01-12    hot          45    47     04    01   12
3  05-01-12  sunny          56    48     05    01   12
4  06-01-12    hot          67    49     06    01   12

In [47]:
df.info

<bound method DataFrame.info of       dates    day  wind-speed  temp day-no month year
0  02-01-12  sunny          12    45     02    01   12
1  03-01-12  rainy          34    46     03    01   12
2  04-01-12    hot          45    47     04    01   12
3  05-01-12  sunny          56    48     05    01   12
4  06-01-12    hot          67    49     06    01   12>

In [48]:
df.iloc[:,1:].corr

<bound method DataFrame.corr of      day  wind-speed  temp day-no month year
0  sunny          12    45     02    01   12
1  rainy          34    46     03    01   12
2    hot          45    47     04    01   12
3  sunny          56    48     05    01   12
4    hot          67    49     06    01   12>

In [49]:
stu={'id':[123,124,125,126,127],
     'name':['Alice','Bob','Carol','joy','josh'],
     'age':[21,22,23,24,20]
     }
stu=pd.DataFrame(stu)
stu

    id   name  age
0  123  Alice   21
1  124    Bob   22
2  125  Carol   23
3  126    joy   24
4  127   josh   20

In [50]:
cor={"id":[123,124,125,128],
     "Sname":['coa','dsa','toc','digital']}
cor=pd.DataFrame(cor)
cor

    id    Sname
0  123      coa
1  124      dsa
2  125      toc
3  128  digital

In [51]:
stu.merge(cor ,how='inner',on='id')

    id   name  age Sname
0  123  Alice   21   coa
1  124    Bob   22   dsa
2  125  Carol   23   toc

In [52]:
stu.merge(cor ,how='outer',on='id')

    id   name   age    Sname
0  123  Alice  21.0      coa
1  124    Bob  22.0      dsa
2  125  Carol  23.0      toc
3  126    joy  24.0      NaN
4  127   josh  20.0      NaN
5  128    NaN   NaN  digital

In [53]:
stu.merge(cor ,how='left',on='id')

    id   name  age Sname
0  123  Alice   21   coa
1  124    Bob   22   dsa
2  125  Carol   23   toc
3  126    joy   24   NaN
4  127   josh   20   NaN

In [54]:
stu.merge(cor ,how='right',on='id')

    id   name   age    Sname
0  123  Alice  21.0      coa
1  124    Bob  22.0      dsa
2  125  Carol  23.0      toc
3  128    NaN   NaN  digital

In [55]:
stu.merge(cor ,how='cross')

    id_x   name  age  id_y    Sname
0    123  Alice   21   123      coa
1    123  Alice   21   124      dsa
2    123  Alice   21   125      toc
3    123  Alice   21   128  digital
4    124    Bob   22   123      coa
5    124    Bob   22   124      dsa
6    124    Bob   22   125      toc
7    124    Bob   22   128  digital
8    125  Carol   23   123      coa
9    125  Carol   23   124      dsa
10   125  Carol   23   125      toc
11   125  Carol   23   128  digital
12   126    joy   24   123      coa
13   126    joy   24   124      dsa
14   126    joy   24   125      toc
15   126    joy   24   128  digital
16   127   josh   20   123      coa
17   127   josh   20   124      dsa
18   127   josh   20   125      toc
19   127   josh   20   128  digital

In [60]:
import numpy as np

a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

c = np.cross(a, b)
print(c)

[-3  6 -3]